
<br><br><br><center><h1><%= @district %></h1>



<br><br><br><br>
<h2>Senator <%= @senator_one_name %></h2>
<h2><%= @senator_one_party %></h2>
<h2><img src="<%= @senator_one_photo_url %>"></h2>
<h2><a href="<%= @senator_one_website %>">Website</a </h2>
<h2>Facebook: <%= @senator_one_facebook %></h2>
<h2>Twitter: <%= @senator_one_twitter %></h2>



<br><br><br><br>
<h2>Senator <%= @senator_two_name %></h2>
<h2><%= @senator_two_party %></h2>
<h2><img src="<%= @senator_two_photo_url %>"></h2>
<h2><a href="<%= @senator_two_website %>">Website</a </h2>
<h2>Facebook: <%= @senator_two_facebook %></h2>
<h2>Twitter: <%= @senator_two_twitter %></h2>




<br><br><br><br>
<h2>Rep. <%= @us_rep_name %></h2>
<h2><%= @us_rep_party %></h2>
<h2><img src="<%= @us_rep_photo_url %>"></h2>
<h2><a href="<%= @us_rep_website %>">Website</a </h2>
<h2>Facebook: <%= @us_rep_facebook %></h2>
<h2>Twitter: <%= @us_rep_twitter %></h2>
<br><br><br><br><br><br><br><br>










<br><br><br><br><br><br><br><br>
<h2><%= @json %></h2>

</center>